
<div class="content" fxLayout="row" fxLayoutGap="25px">
  <mat-card class="example-card">
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

</div>

<div class="content" fxLayout="row" fxLayoutGap="25px">

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

</div>


<div class="content" fxLayout="row" fxLayoutGap="25px">

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  <mat-card class="example-card">
   
    <img mat-card-image src="./../../assets/batata-imperador.jpg">  
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Batata Imperador</mat-card-title>
    <mat-card-subtitle>
          <ul>
            <li>Batata</li>
            <li>Molho Imperador</li>
            <li>Calabresa</li>
          </ul>
      </mat-card-subtitle>
    </mat-card-header> 
  </mat-card>

  
</div>
<div class="espacador">
<span>&copy; Porão do Alemão LTDA.</span>
</div>