<mat-toolbar class="priamry mat-elevation-z8">
    <a routerLink="/">Porão do Alemão</a>

    <div class="spacer"></div>
    

    <div class="cor-icones">
        <a mat-button routerLink="/">
            <mat-icon>home</mat-icon>
            Home
        </a>

        <a mat-button routerLink="/agenda">
            <mat-icon>perm_contact_calendar</mat-icon>
            Agenda
        </a>

        <a mat-button routerLink="/cardapio">
            <mat-icon>restaurant_menu</mat-icon>
            Cardápio
        </a>

    </div>

   

</mat-toolbar>