
<main class="container">


    <mat-tab-group [backgroundColor]="'primary'"  class="layout-agenda" >
        
        <mat-tab label="Semana 23 a 26">
            <img class="imagem-layout" src="../../assets/agenda-da-semana.jpg">
        </mat-tab>
        <mat-tab label="Quarta"> 
            <img class="imagem-layout" src="../../assets/slipknot.jpg">    
        </mat-tab>
        <mat-tab label="Quinta"> 
            <img class="imagem-layout" src="../../assets/metallica.jpg">    
        </mat-tab>
        <mat-tab label="Sexta">
            <img class="imagem-layout" src="../../assets/linkinpark.jpg">    
        </mat-tab>
        <mat-tab label="Sabádo">
            <img class="imagem-layout" src="../../assets/soad.jpg">
        </mat-tab>
      </mat-tab-group>

     <div class="descricao">
        <h1>De quinta a sabádo</h1>
        <ul>
            <li>23/10 - Especial <span><img class="imagem-banda" src="../../assets/slipknot-logo.png"> com a banda...</span></li>
            <li>24/10 - Especial <span><img class="imagem-banda" src="../../assets/metallica-logo.png"></span> com a banda...</li>
            <li>25/10 - Especial <span><img class="imagem-banda" src="../../assets/linkin-park-logo.png"></span> com a banda...</li>
            <li>26/10 - Especial <span><img class="imagem-banda" src="../../assets/soad-logo.png"></span> com a banda...</li>
        </ul>
     </div>
    
      


</main>


<div class="espacador">
    a
</div>