<main class="container">


        <img class="imagem-pricipal" src="../../assets/logo-mascote.png">
        
    <div class="agenda-descricao">
        <h1>Sobre</h1>
        <p >
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eros lacus, sodales ut tempus sit amet, lobortis quis diam. Sed velit urna, tempor ac tempus at, facilisis ac ipsum. Donec blandit scelerisque odio. Aliquam consectetur libero eu cursus convallis. Nullam lacinia rhoncus facilisis. Curabitur a auctor velit. Suspendisse sed quam a nisi vulputate ornare ut id sapien. Morbi eget justo lacus. Pellentesque eleifend, turpis quis mattis blandit, mi lorem porttitor diam, quis condimentum magna tellus eu ligula. Praesent risus neque, rhoncus in nisi ac, porttitor bibendum nisl. Phasellus egestas molestie ex in lacinia. Sed in mauris vehicula, bibendum sem id, aliquet diam. Morbi maximus urna ut auctor auctor. Donec eget urna sed magna iaculis interdum vel a justo. Duis ac nulla imperdiet, rhoncus felis ut, euismod odio.
            <span></span>
            Pellentesque cursus quis lacus a ultrices. Morbi eget turpis vestibulum, ultrices arcu eu, porta erat. Duis turpis sem, pharetra malesuada purus quis, eleifend tincidunt augue. Cras turpis odio, facilisis eget blandit eget, placerat a tortor. Vestibulum cursus euismod enim at ornare. Suspendisse eleifend dolor ut nunc pellentesque consequat. Duis ligula turpis, laoreet sed tempor accumsan, tempor sed est. Vestibulum mollis, nisl quis ultricies cursus, nisl ex vulputate nibh, id lacinia dui ipsum eget purus. Suspendisse ornare turpis nec imperdiet consequat. Nulla et turpis id mauris ultrices feugiat. Cras purus quam, malesuada et nisi vel, malesuada consequat sem. Cras eget imperdiet orci.
        </p>
    </div>
</main>

